body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .joke-container {
    margin-top: 50px;
    border-bottom: 4px;
    color: crimson;
  }
  
  h1{
    color: black;
    text-decoration: dotted;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: crimson;

  }