body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .joke-container {
    margin-top: 50px;
    border-bottom: 4px;
    
  }
  
  h1{
    color: black;
    text-decoration: dotted;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(64, 94, 133);

  }
 
  .frame{
    border-style: dashed;
    border-width: 5px;
  }

 